<div class="poll-card">
  <div class="poll-card__header">
    <h3 class="poll-card__title">{{ poll.title }}</h3>
    <span class="poll-status" [class]="'status-' + statusClass">{{
      status
    }}</span>
  </div>
  <div class="poll-meta">
    <span>Criado por: {{ poll.user_email }}</span>
    <span>Início: {{ poll.start_date | date: "dd/MM/yyyy" }}</span>
    <span>Término: {{ poll.end_date | date: "dd/MM/yyyy" }}</span>
  </div>
  <div class="poll-actions">
    <app-button [routerLink]="['/polls', poll.id]">Ver detalhes</app-button>
    @if (authService.getCurrentUser()?.id === poll.user_id) {
      <app-button
        (click)="deletePoll(poll.id, $event)"
        [disabled]="isDeleting"
        class="delete-btn"
      >
        {{ isDeleting ? "Deletando..." : "Deletar" }}
      </app-button>
    }
  </div>
</div>
