.app-button {
  background-color: #d01216;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover:not(.disabled) {
    background-color: #151314;
  }

  &:disabled,
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #6c757d;
  }

  @media screen and (max-width: 580px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 1.2rem;
  }
}
